docs/
fonts/
locale/
logs/
mime/
names/
socket/
sounds/
spell/
Dina.fon
Example_filters.lua
help.db
license.txt
lua5.1.dll
lua5.1.lib
mushclient.cnt
MUSHclient.exe
MUSHCLIENT.HLP
mushclient.ico
MUSHclient.ini
mushclient_prefs.sqlite
names.txt
noct stands.png
readme.txt
spellchecker.lua
tips.txt
uninstall.exe
